# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/

# Python
*.pyc

# Vagrant
.vagrant

# Vim
.swo
.swp

# PyCharm
.idea
